---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import TimeLine from '../components/TimeLine.astro';
import { FULL_NAME } from '../core/constants/text.contant';
import type { ITimeline } from '../core/models/timeline.model';
import BaseLayout from '../layouts/BaseLayout.astro';

const education: ITimeline[] = [
	{
		title: 'Universidad Autónoma de Bucaramanga',
		subtitle: 'Master in Software Management, Application and Development',
		date: '2021 - 2023',
	},
	{
		title: 'Universidad Autónoma de Bucaramanga',
		subtitle: 'Systems Engineering',
		date: '2015 - 2020',
	},
];

const experiences: ITimeline[] = [
	{
		title: 'Solution Consultant II',
		subtitle: 'Sophos Solutions',
		date: 'Aug 2021 - Present',
		items: ['Web development with Angular'],
	},
	{
		title: 'Frontend developer',
		subtitle: 'Hexa Solutions',
		date: 'Oct 2020 - Aug 2021',
		items: ['Mobile application development with Ionic', 'Web development with Angular'],
	},
	{
		title: 'Systems Engineering Intern',
		subtitle: 'Electrificadora de Santander ESSA ESP',
		date: 'Mar 2020 - Sep 2020',
		items: ['Data analytics with Power BI', 'Mobile application development with Ionic'],
	},
];
---

<BaseLayout title={`About | ${FULL_NAME}`} description=`About ${FULL_NAME}`>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero title="About" tagline="Thanks for stopping by. Read below to learn more about myself and my background." />
			<section>
				<div class="content">
					<p>
						Frontend Developer with experience in web development with Angular and mobile apps with Ionic. Knowledge in
						Flutter. Easily Adaptable to changes. Always looking to learn new knowledge, technologies and develop
						skills.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Experience</h2>
				<div class="content">
					<TimeLine timeline={experiences} />
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<TimeLine timeline={education} />
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<ul class="max-w-md space-y-1 list-disc list-inside">
						<li>Angular</li>
						<li>Ionic</li>
						<li>Flutter</li>
						<li>Git</li>
						<li>Tailwind</li>
						<li>Bootstrap</li>
						<li>React.js</li>
						<li>Firebase</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
